<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CutPicture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF218E141D50B5E8001BEA9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF218E281D50B5E9001BEA9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF218E331D50B5E9001BEA9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
